spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

  config:
    import:
      - optional:file:.env[.properties]
      - optional:file:.env.local[.properties]

  main:
    allow-circular-references: true