.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 3.75rem;
  box-sizing: border-box;
}

.login-container,
.register-container {
  background-color: #fff;
  padding: 1.25rem;
  border: 1px solid #e4e4e4;
  border-radius: 0.5rem;
  width: 25rem;
  text-align: center;
  border: 1px solid #e2e2e2;
}

.login-container h2,
.register-container h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1.25rem;
}

.login-container input,
.register-container input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 0.9375rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #333;
}

.login-container input:focus,
.register-container input:focus {
  border-color: #5a9a6d;
  outline: none;
}

.login-container button,
.register-container button {
  width: 100%;
  padding: 0.75rem;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.login-container button:hover,
.register-container button:hover {
  background-color: #444;
}

.login-container p,
.register-container p {
  margin-top: 0.9375rem;
  font-size: 0.875rem;
}

.login-container a,
.register-container a {
  color: #5a9a6d;
  text-decoration: none;
}

.login-container a:hover,
.register-container a:hover {
  text-decoration: underline;
}

/* Header 样式已在 Header.vue 中定义，此处不需要重复 */

@media (prefers-color-scheme: dark) {

  .login-container,
  .register-container {
    background-color: #1e1e1e;
    border: none;
  }

  .login-container h2,
  .register-container h2 {
    color: #ccc;
  }

  .login-container input,
  .register-container input {
    background-color: #323232;
    color: #ccc;
    border: none;
  }

  .login-container button,
  .register-container button {
    color: #ccc;
    background-color: #323232;
  }

  .login-container p,
  .register-container p {
    color: #ccc;
  }

  .login-container a,
  .register-container a {
    color: #727272
  }
}