@import './base.css';

#app {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

@media (hover: hover) {}

@media (min-width: 1024px) {
  body {
    display: block;
  }

  #app {
    display: block;
    padding: 0;
  }
}

.container {
  display: flex;
  flex: 1;
  z-index: 1;
}

.main-content {
  width: calc(100vw - 18rem);
  margin-left: 18rem;
  padding-top: 40px;
  flex: 1;
  background-color: #fff;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 80px;
}

.welcome {
  text-align: center;
  margin-bottom: 40px;
  width: auto;
}

.features {
  display: flex;
  flex-wrap: row;
  min-height: auto;
}

.feature-box {
  padding: 20px;
  width: 30%;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-color: #fff;
}
