spring:
  web:
    resources:
      static-locations: classpath:/static/,classpath:/public/,file:./static/

  application:
    name: Backend

  devtools:
    restart:
      enabled: true

  mail:
    default-encoding: UTF-8
    host: smtp.163.com
    username: jsk476@163.com
    password: RGbiENkGuAA57Vm3
    port: 465
    properties:
      mail:
        smtp:
          ssl:
            enable: true
          auth: true
          starttls:
            enable: true
            required: true

  datasource:
    url: jdbc:mysql://localhost:3306/ZyroFrp
    username: root
    password: Shajie@123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database: mysql
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

server:
  port: 8085

logging:
  level:
    root: WARN
