@media (prefers-color-scheme: dark) {
  body {
    background-color: #101014;
    color: #e0e0e0;
  }

  .main-content {
    background-color: #101014;
  }

  h2 {
    color: #ededed;
  }

  .feature-box {
    background-color: #18181c;
    border: 1px solid #232323;
  }

  input[type="text"],
  input[type="password"],
  select {
    background-color: #3a3a3a;
    border: 1px solid #4e4e4e;
    color: #d4d4d4;
  }

  input[type="text"]:focus,
  input[type="password"]:focus,
  select:focus {
    border: 1px solid #444444;
    outline: none;
  }

  input::placeholder {
    color: #c5c5c537;
    font-size: 1rem;
    font-style: italic;
  }

  label {
    color: #e0e0e0;
  }

  code {
    color: #5ccea8;
    font-size: 0.9rem;
  }

  .version {
    color: #7bcbaa;
  }
}

.feature-box {
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  transition: all 0.3s ease;
}

input[type="text"],
select {
  width: 100%;
  padding: 0.5rem 0.8rem;
  box-sizing: border-box;
  font-size: 1.1rem;
  border: 1px solid #cecece;
  border-radius: 5px;
  outline: none;
  background-color: #ffffff;
}

input[type="text"]:focus,
select:focus {
  border-color: #42997c;
  outline: none;
}

.border-color {
  border: 1px solid #cecece;
  border-radius: 5px;
}

.border-color:focus {
  border: 1px solid #cecece;
  outline: none;
}

pre {
  padding: 10px;
  border-radius: 5px;
  font-family: Consolas, monospace;
  margin: 20px 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  color: #e83e8c;
  font-size: 0.9rem;
}

.version {
  text-decoration: none;
  color: #1eac71;
  font-weight: 700;
  margin: 5px 0;
  transition: color 0.3s ease;
}

.version:hover {
  color: #009525;
}